body {
  color: #2c3e50;
  background-color: #ecf0f1;
  margin-bottom: 4.5em; }

h1 {
  font-family: ONRAMP;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  text-shadow: -3px 0 #3498db;
  letter-spacing: 3px;
  font-size: 5.625em;
  text-align: center;
  word-spacing: -10px;
  margin: 30px; }

h2 {
  font-family: ONRAMP;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  text-shadow: -3px 0 #3498db;
  letter-spacing: 3px; }

p {
  margin-bottom: 20px;
  font-size: 1.125em;
  line-height: 24px; }

hr {
  color: #191f27;
  background-color: #191f27;
  height: 2px; }

.title {
  margin: 4px 0;
  text-align: center; }

table.heart-separator {
  width: 100%;
  margin: 20px 0; }
  table.heart-separator hr {
    height: 5px; }
  table.heart-separator .hearts {
    width: 25%;
    text-align: center;
    font-size: 1.5em; }
    table.heart-separator .hearts i.icon-heart {
      font-size: 1em;
      margin: 0 2px;
      color: crimson; }

.sprites {
  margin: 24px auto;
  text-align: center; }
  .sprites .sprite {
    display: inline-block; }
    .sprites .sprite.kyle h2 {
      position: relative;
      left: 15px; }

form label.checkbox {
  float: left;
  padding-top: 5px;
  margin-right: 20px; }

@font-face {
  font-family: ONRAMP;
  src: url("/fonts/ONRAMP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
