@import 'bourbon/bourbon'

$darkblue: #2c3e50
$lightblue: #3498db
$yellow: #f1c40f
$orage: #f39c12
$green: #2ecc71
$clouds: #ecf0f1
$silver: #bdc3c7
$concrete: #95a5a6
$asbestos: #7f8c8d

=fancy
  font-family: ONRAMP
  -webkit-font-smoothing: antialiased
  text-shadow: -3px 0 $lightblue

h1
  +fancy
  font-size: em(90)
  letter-spacing: 3px
  word-spacing: -10px

body
  color: $darkblue
  background-color: #ecf0f1

.hero-unit
  h1
    text-align: center

    img
      margin: 0 50px

      &.jill
        margin-top: 30px

    .event-title
      margin-left: 50px

.day
  h2
    display: inline-block
    width: 200px

  h4
    display: inline-block

.option
  display: table

  &+ .option
    margin-top: 50px

  img
    max-height: 96px
    margin-right: 30px

  label.radio
    display: table-cell
    vertical-align: middle

@font-face
  font-family: ONRAMP
  src:  url('/fonts/ONRAMP.ttf')  format('truetype')
  font-weight: normal
  font-style: normal